.details{
    margin-top: 24px;
    margin-left: 380px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-top: 40px;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: blue;
    color: white;
}

thead{
    background-color: blue;
}
